#!/bin/bash

read -p "install missing packages (y/n)?" CONT
if [ "$CONT" != "y" ]; then
    exit 0
fi

yay -S --needed fzf htop tmux nmon wget bash-completion fd

{{if .i3}}
yay -S --needed i3-gaps i3lock-color compton dmenu feh noto-fonts scrot xclip
yay -S --needed polybar j4-dmenu-desktop nerd-fonts-iosevka
{{end}}
