#!/bin/bash

yay -S --needed fzf htop tmux nmon wget bash-completion fd

{{if eq .wm "i3"}}
yay -S --needed i3-gaps i3lock-color polybar compton j4-dmenu-desktop dmenu feh noto-fonts nerd-fonts-iosevka scrot xclip
{{end}}
