[settings]
compositing-background = over
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
screenchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0
fixed-center = true

[colors]
background = #000d0d0d
background-alt = #300fdfdfd
foreground = #D8DEE9
foreground-alt = #D8DEE9

################################################################################
# primary bar

[bar/primary]
foreground = ${colors.foreground}
background = ${colors.background}

width = 100%
height = 2.4%
line-size = 1
padding-right = 5
module-margin-right = 5

tray-position = right

font-0 = "Noto Display:style=Light:size=11;4"
font-1 = "Iosevka Nerd Font:antialias=true:size=11;4"

modules-left = i3
modules-center = date
modules-right = {{if eq .chezmoi.hostname "martin-x360"}} battery backlight {{end}} pulseaudio temperature cpu memory

################################################################################
# secondary bar (dual screen)

{{if eq .screens "2"}}
[bar/secondary]
monitor = {{if eq .chezmoi.hostname "martin-PC"}}DP-1{{else if eq .chezmoi.hostname "r8"}}HDMI2{{end}}

foreground = ${colors.foreground}
background = ${colors.background}

width = 100%
height = 2.4%
line-size = 1
padding-right = 5
module-margin-right = 5

font-0 = "Noto Display:style=Light:size=11;4"
font-1 = "Iosevka Nerd Font:antialias=true:size=11;4"

modules-left = i3
modules-center = {{if eq .chezmoi.hostname "martin-PC"}} mpd {{end}}
modules-right = 

{{if eq .chezmoi.hostname "martin-PC"}}
include-file = ~/.config/polybar/modules/mpd.conf
{{end}}
{{end}}

################################################################################
# modules

include-file = ~/.config/polybar/modules/i3.conf
include-file = ~/.config/polybar/modules/cpu.conf
include-file = ~/.config/polybar/modules/memory.conf
include-file = ~/.config/polybar/modules/temperature.conf
include-file = ~/.config/polybar/modules/date.conf
include-file = ~/.config/polybar/modules/pulseaudio.conf

{{if eq .chezmoi.hostname "martin-x360"}}
include-file = ~/.config/polybar/modules/battery.conf
include-file = ~/.config/polybar/modules/backlight.conf
{{end}}