#!/bin/bash

function lock {
    # don't run again if the screen is locked
    pgrep i3lock && return
    i3lock \
        -f -B 1 \
        --image "/home/verap/Pictures/Wallpaper/911_S.png" \
        --clock --timecolor=ffffffff --datecolor=ffffffff \
        --indicator \
        --ringcolor=505050ff --keyhlcolor=ffffffff \
        --linecolor=00000000 \
        --ringvercolor=00000000 --insidevercolor=00000000 --verifcolor=00000000 \
        --ringwrongcolor=00000000 --insidewrongcolor=00000000 --wrongcolor=00000000 \
        --wrongtext="f*ck off!" --wrongsize=100 --wrongcolor=ffffffff \
        --pass-power-keys --pass-screen-keys \
        --ignore-empty-password
}

function suspend {
    systemctl suspend
}

function poweroff {
    # suspend only if the screen is locked

    if pgrep i3lock; then
        systemctl suspend
    else
        systemctl poweroff
    fi
}

case "$1" in
    "lock")
        lock
        suspend
        ;;
    "suspend")
        suspend
        ;;
    "poweroff")
        poweroff
        ;;
esac
