[user]
	email = {{ .user.email }}
	name = {{ .user.name }}

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[commit]
	verbose = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all