[module/temperature]
type = internal/temperature
interval = 0.5

format = <ramp> <label>
format-warn = <ramp> <label-warn>

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 

label = %temperature-c%

ramp-warn-foreground = #f00
label-warn-foreground = #f00

{{if eq .chezmoi.hostname "martin-x360" -}}
thermal-zone = 3
{{else if eq .chezmoi.hostname "martin-PC" -}}
hwmon-path = /sys/class/hwmon/hwmon0/temp1_input
{{else if eq .chezmoi.hostname "r8" -}}
thermal-zone = 3
{{end}}